@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans:wght@700&family=Roboto:wght@500&display=swap");

$widthSite: 1600px;
$backgroundColorSite: #e5e5e5;
$darkColorBackgroundSite: #2d2d2d;
$greyColorBackgroundSite: #f3f3f3;
$orangeColor: #fcb427;
$orangeColorTitle: #ff971d;
$whiteColorText: #fff;
$blackColorText: #000;
$blackColorTitle: #2d2d2d;
$goldColorBorder: 1px solid #ffbf1d;
$blackColorBorder: 1px solid #2d2d2d;
