@import "vars";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColorSite;
}

.center {
  margin-left: calc(50% - $widthSite / 2);
  margin-right: calc(50% - $widthSite / 2);
}

.header {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 95px;
  background-color: $darkColorBackgroundSite;
  opacity: 0.9;

  &__left {
    display: flex;
    justify-content: center;
    gap: 21px;
    align-items: center;

    &__text {
      display: flex;
      flex-direction: column;
      width: 167;
      height: 40px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 142.19%;
      color: #ffffff;
    }
  }

  &__right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 44px;

    &__icon {
      width: 21px;
      height: 21px;
    }

    &__first {
      display: flex;
      align-items: center;
      gap: 18px;

      &__time {
        display: flex;
        gap: 10px;

        &__text {
          font-size: 14px;
          font-family: Montserrat;
          line-height: 142.188%;
          color: $whiteColorText;
        }
      }

      &__address {
        margin-left: 18px;
        display: flex;
        align-items: center;
        gap: 10px;

        &__text {
          width: 144px;
          height: 34px;
          font-size: 14px;
          font-family: Montserrat;
          line-height: 142.188%;
          color: $whiteColorText;
        }
      }
    }

    &__button {
      padding: 8px 27px;
      border: $goldColorBorder;
      text-decoration: none;
      font-size: 18px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      color: $whiteColorText;
    }

    &__button:hover {
      background-color: $whiteColorText;
      color: $darkColorBackgroundSite;
    }

    &__end {
      display: flex;
      align-items: center;
      gap: 12px;

      &__telephones {
        display: flex;
        flex-direction: column;

        &__text {
          font-size: 16px;
          font-family: Montserrat;
          font-weight: 500;
          line-height: 156.687%;
          color: $whiteColorText;
        }
      }
    }
  }
}

.navigation {
  display: flex;

  &__menu {
    display: flex;
    gap: 30px;

    &__item {
      &__link {
        text-decoration: none;
      }
    }
  }
}
