@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans:wght@700&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

.center {
  margin-left: calc(50% - 800px);
  margin-right: calc(50% - 800px);
}

.header {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 95px;
  background-color: #2d2d2d;
  opacity: 0.9;
}
.header__left {
  display: flex;
  justify-content: center;
  gap: 21px;
  align-items: center;
}
.header__left__text {
  display: flex;
  flex-direction: column;
  width: 167;
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 142.19%;
  color: #ffffff;
}
.header__right {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 44px;
}
.header__right__icon {
  width: 21px;
  height: 21px;
}
.header__right__first {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__right__first__time {
  display: flex;
  gap: 10px;
}
.header__right__first__time__text {
  font-size: 14px;
  font-family: Montserrat;
  line-height: 142.188%;
  color: #fff;
}
.header__right__first__address {
  margin-left: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__right__first__address__text {
  width: 144px;
  height: 34px;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 142.188%;
  color: #fff;
}
.header__right__button {
  padding: 8px 27px;
  border: 1px solid #ffbf1d;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #fff;
}
.header__right__button:hover {
  background-color: #fff;
  color: #2d2d2d;
}
.header__right__end {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__right__end__telephones {
  display: flex;
  flex-direction: column;
}
.header__right__end__telephones__text {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 156.687%;
  color: #fff;
}

.navigation {
  background-color: #f3f3f3;
  padding-top: 25px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__menu {
  margin-left: 214px;
  display: flex;
  gap: 30px;
}
.navigation__menu__item {
  list-style-type: none;
}
.navigation__menu__item__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 156.687%;
}
.navigation__menu__item__link:hover {
  border-bottom: 1px solid #ffbf1d;
}
.navigation__search {
  padding-right: 215px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation__search__input {
  width: 270px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 156.687%;
  color: #000;
}

.slider {
  width: 1600px;
  height: 600px;
  background-image: url(./img/banner.png);
  display: flex;
}
.slider__left {
  width: 788px;
  height: 600px;
  background-color: #f3f3f3;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}
.slider__left__separator {
  width: 264px;
  height: 5px;
  background-color: #fcb427;
  margin-top: 103px;
  margin-left: 214px;
}
.slider__left__title {
  width: 554px;
  font-size: 44px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  margin-top: 20px;
  margin-left: 214px;
}
.slider__left__text {
  font-size: 16px;
  font-family: Montserrat;
  line-height: 156.687%;
  color: #2d2d2d;
  width: 435px;
  height: 75px;
  margin-top: 30px;
  margin-left: 214px;
}
.slider__left__buttons {
  margin-top: 30px;
  display: flex;
  gap: 28px;
  margin-left: 214px;
}
.slider__left__buttons__left {
  padding: 12px 45px;
  background-color: #fcb427;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #fff;
  border: 1px solid #ffbf1d;
}
.slider__left__buttons__left:hover {
  background-color: #fff;
  color: #fcb427;
  border: 1px solid #ffbf1d;
  box-sizing: border-box;
}
.slider__left__buttons__right {
  padding: 12px 45px;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  box-sizing: border-box;
}
.slider__left__buttons__right:hover {
  color: #f3f3f3;
  background-color: #2d2d2d;
}
.slider__left__arrowButton {
  margin-left: 721px;
  margin-top: 100px;
}
.slider__left__arrowButton svg path {
  stroke: white;
}
.slider__left__arrowButton:hover svg path {
  stroke: black;
}
.slider__right__arrowButton {
  margin-top: 534px;
}
.slider__right__arrowButton:hover svg path {
  stroke: black;
}

.rent {
  display: flex;
  background-color: #ffffff;
  gap: 30px;
}
.rent__left {
  width: 788px;
  display: flex;
  flex-direction: column;
}
.rent__left__title {
  font-size: 40px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  margin-left: 214px;
  margin-top: 51px;
}
.rent__left__title__orange {
  color: #ff971d;
}
.rent__left__img {
  width: 648px;
  height: 458px;
  align-self: self-end;
  margin-top: 23px;
  margin-left: 214px;
}
.rent__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.rent__right__title {
  font-size: 33px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 142.188%;
  color: #2d2d2d;
  margin-top: 163px;
}
.rent__right__text {
  width: 566px;
  height: 114px;
  font-size: 16px;
  font-family: Montserrat;
  line-height: 156.687%;
  color: #2d2d2d;
}
.rent__right__button {
  background-color: #fcb427;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #fff;
  border: 1px solid #ffbf1d;
  width: 219px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.rent__right__button:hover {
  background-color: #fff;
  color: #fcb427;
}
.rent__right__slider {
  margin-top: 34px;
  margin-left: 465px;
}
.rent__right__slider__scroll {
  margin-top: 26px;
  margin-left: 0;
  margin-bottom: 23px;
}

.benefit {
  background-color: #f3f3f3;
  display: flex;
  gap: 72px;
}
.benefit__left {
  display: flex;
  flex-direction: column;
}
.benefit__left__title {
  color: #2d2d2d;
  font-size: 40px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  margin-top: 182px;
  margin-left: 214px;
}
.benefit__left__textBlock {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65px;
}
.benefit__left__textBlock__text {
  width: 583px;
  font-size: 16px;
  font-family: Montserrat;
  line-height: 156.687%;
  margin-left: 214px;
  color: #2d2d2d;
}
.benefit__left__button {
  background-color: #fcb427;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #fff;
  border: 1px solid #ffbf1d;
  width: 219px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 214px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.benefit__left__button:hover {
  background-color: #fff;
  color: #fcb427;
}
.benefit__right {
  width: 488px;
  height: 329px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 326px;
}
.benefit__right__item {
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit__right__item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52px;
  margin-top: 20px;
}
.benefit__right__item__text__p {
  text-align: center;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 142.188%;
  color: #2d2d2d;
}

.blackBlock {
  width: 1600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
}
.blackBlock__content {
  display: flex;
  justify-content: space-between;
  width: 1053px;
  height: 120px;
}
.blackBlock__content__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.blackBlock__content__item__text {
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 142.188%;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}
.blackBlock__content__item__left {
  width: 137px;
}
.blackBlock__content__item__center {
  width: 235px;
}
.blackBlock__content__item__right {
  width: 265px;
}

.greyBlock {
  width: 1600px;
  height: 120px;
  background-color: #f3f3f3;
}

.projects {
  background-color: #ffffff;
  padding-bottom: 51px;
}
.projects__title {
  font-size: 40px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  margin-left: 214px;
  padding-top: 50px;
  padding-bottom: 58px;
}
.projects__imgs {
  display: flex;
  gap: 30px;
  padding-left: 15px;
}
.projects__imgs__img {
  width: 170px;
  height: 137px;
}
.projects__navigation {
  margin-top: 20px;
  margin-left: 3px;
  margin-bottom: 14px;
}
.projects__content {
  display: flex;
  gap: 39px;
}
.projects__content__img {
  width: 788px;
  height: 582px;
}
.projects__content__right {
  height: 582px;
  display: flex;
  flex-direction: column;
}
.projects__content__right__title {
  width: 544px;
  font-size: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 142.188%;
  color: #2d2d2d;
}
.projects__content__right__address {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.projects__content__right__address__text {
  width: 436px;
  font-size: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 142.188%;
  color: #2d2d2d;
}
.projects__content__right__text {
  width: 561px;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 156.687%;
  color: #2d2d2d;
}
.projects__content__right__link {
  margin-top: 30px;
  display: flex;
  gap: 21px;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
}

.catalog {
  background-color: #f3f3f3;
  padding-bottom: 120px;
}
.catalog__title {
  font-size: 40px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  padding-top: 120px;
  margin-left: 214px;
}
.catalog__navigation {
  margin-top: 5px;
  margin-left: 1248px;
}
.catalog__items {
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}
.catalog__items__item {
  width: 1600px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.catalog__items__item__img {
  width: 370px;
  height: 299px;
}
.catalog__items__item__title {
  display: flex;
  align-items: center;
  width: 370px;
  height: 90px;
  background-image: url(./img/title_fon.svg);
  border-bottom: 1px solid #ffbf1d;
}
.catalog__items__item__title__text {
  margin-left: 30px;
  width: 292px;
  font-size: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 142.188%;
  color: #2d2d2d;
}
.catalog__items__item__tonnage {
  margin-top: 21px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 156.687%;
  color: #2d2d2d;
}
.catalog__items__item__tonnage__text {
  margin-left: 30px;
}
.catalog__items__item__tonnage__value {
  margin-left: 12px;
}
.catalog__items__item__length {
  margin-top: 6px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 156.687%;
  color: #2d2d2d;
}
.catalog__items__item__length__text {
  margin-left: 30px;
}
.catalog__items__item__length__value {
  margin-left: 49px;
}
.catalog__items__item__link {
  display: flex;
  gap: 24px;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  margin-left: 30px;
  margin-top: 3px;
}
.catalog__items__item__button {
  background-color: #fcb427;
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #fff;
  border: 1px solid #ffbf1d;
  width: 311px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 30px;
  margin-top: 22px;
  margin-bottom: 23px;
}
.catalog__items__item__button:hover {
  background-color: #fff;
  color: #fcb427;
}
.catalog__button {
  text-decoration: none;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 141.688%;
  color: #2d2d2d;
  border: 1px solid #ffbf1d;
  width: 200px;
  height: 50px;
  border: 1px solid #ffbf1d;
  text-align: center;
  line-height: 50px;
  padding: 12px 27px;
  margin-left: 700px;
}
.catalog__button:hover {
  background-color: #2d2d2d;
  color: #f3f3f3;
}

.rentalPrice {
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
}
.rentalPrice__content__title {
  font-size: 40px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 141.688%;
  color: #fff;
  margin-top: 18px;
  margin-left: 222px;
}
.rentalPrice__content__items {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 36px;
}
.rentalPrice__content__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rentalPrice__content__items__item__text {
  width: 273px;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 156.687%;
  color: #fff;
}

.order {
  width: 1600px;
  height: 265px;
  border-top: 30px solid #fcb427;
  border-bottom: 30px solid #fcb427;
  margin-top: 50px;
  background-color: #fff;
  background-image: url(./img/mobkran.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.order__title {
  font-size: 33px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 142.188%;
  color: #2d2d2d;
  margin-top: 22px;
  margin-left: 214px;
}
.order__title__span {
  color: #fcb427;
}/*# sourceMappingURL=style.css.map */