@import "vars";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColorSite;
}

.center {
  margin-left: calc(50% - $widthSite / 2);
  margin-right: calc(50% - $widthSite / 2);
}

.header {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 95px;
  background-color: $darkColorBackgroundSite;
  opacity: 0.9;

  &__left {
    display: flex;
    justify-content: center;
    gap: 21px;
    align-items: center;

    &__text {
      display: flex;
      flex-direction: column;
      width: 167;
      height: 40px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 142.19%;
      color: #ffffff;
    }
  }

  &__right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 44px;

    &__icon {
      width: 21px;
      height: 21px;
    }

    &__first {
      display: flex;
      align-items: center;
      gap: 18px;

      &__time {
        display: flex;
        gap: 10px;

        &__text {
          font-size: 14px;
          font-family: Montserrat;
          line-height: 142.188%;
          color: $whiteColorText;
        }
      }

      &__address {
        margin-left: 18px;
        display: flex;
        align-items: center;
        gap: 10px;

        &__text {
          width: 144px;
          height: 34px;
          font-size: 14px;
          font-family: Montserrat;
          line-height: 142.188%;
          color: $whiteColorText;
        }
      }
    }

    &__button {
      padding: 8px 27px;
      border: $goldColorBorder;
      text-decoration: none;
      font-size: 18px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      color: $whiteColorText;
    }

    &__button:hover {
      background-color: $whiteColorText;
      color: $darkColorBackgroundSite;
    }

    &__end {
      display: flex;
      align-items: center;
      gap: 12px;

      &__telephones {
        display: flex;
        flex-direction: column;

        &__text {
          font-size: 16px;
          font-family: Montserrat;
          font-weight: 500;
          line-height: 156.687%;
          color: $whiteColorText;
        }
      }
    }
  }
}

.navigation {
  background-color: $greyColorBackgroundSite;
  padding-top: 25px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu {
    margin-left: 214px;
    display: flex;
    gap: 30px;

    &__item {
      list-style-type: none;

      &__link {
        text-decoration: none;
        color: $blackColorText;
        font-size: 16px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 156.687%;
      }

      &__link:hover {
        border-bottom: $goldColorBorder;
      }
    }
  }

  &__search {
    padding-right: 215px;
    display: flex;
    align-items: center;
    gap: 10px;

    &__input {
      width: 270px;
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: 156.687%;
      color: $blackColorText;
    }
  }
}

.slider {
  width: $widthSite;
  height: 600px;
  background-image: url(./img/banner.png);
  display: flex;

  &__left {
    width: 788px;
    height: 600px;
    background-color: $greyColorBackgroundSite;
    opacity: 0.8;
    display: flex;
    flex-direction: column;

    &__separator {
      width: 264px;
      height: 5px;
      background-color: $orangeColor;
      margin-top: 103px;
      margin-left: 214px;
    }

    &__title {
      width: 554px;
      font-size: 44px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      color: $blackColorTitle;
      margin-top: 20px;
      margin-left: 214px;
    }

    &__text {
      font-size: 16px;
      font-family: Montserrat;
      line-height: 156.687%;
      color: $blackColorTitle;
      width: 435px;
      height: 75px;
      margin-top: 30px;
      margin-left: 214px;
    }

    &__buttons {
      margin-top: 30px;
      display: flex;
      gap: 28px;
      margin-left: 214px;

      &__left {
        padding: 12px 45px;
        background-color: $orangeColor;
        text-decoration: none;
        font-size: 18px;
        font-family: PT Sans;
        font-weight: 700;
        line-height: 141.688%;
        color: $whiteColorText;
        border: $goldColorBorder;
      }

      &__left:hover {
        background-color: $whiteColorText;
        color: $orangeColor;
        border: $goldColorBorder;
        box-sizing: border-box;
      }

      &__right {
        padding: 12px 45px;
        text-decoration: none;
        font-size: 18px;
        font-family: PT Sans;
        font-weight: 700;
        line-height: 141.688%;
        color: $blackColorTitle;
        border: $blackColorBorder;
        box-sizing: border-box;
      }

      &__right:hover {
        color: $greyColorBackgroundSite;
        background-color: $blackColorTitle;
      }
    }

    &__arrowButton {
      margin-left: 721px;
      margin-top: 100px;
    }

    &__arrowButton svg path {
      stroke: white;
    }

    &__arrowButton:hover svg path {
      stroke: black;
    }
  }

  &__right__arrowButton {
    margin-top: 534px;
  }

  &__right__arrowButton:hover svg path {
    stroke: black;
  }

  &__bottom {
    width: 1600px;
    height: 75px;
    background-color: $greyColorBackgroundSite;
  }
}

.rent {
  display: flex;
  background-color: #ffffff;
  gap: 30px;

  &__left {
    width: 788px;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 40px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      color: $blackColorTitle;
      margin-left: 214px;
      margin-top: 51px;

      &__orange {
        color: $orangeColorTitle;
      }
    }

    &__img {
      width: 648px;
      height: 458px;
      align-self: self-end;
      margin-top: 23px;
      margin-left: 214px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__title {
      font-size: 33px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 142.188%;
      color: $darkColorBackgroundSite;
      margin-top: 163px;
    }

    &__text {
      width: 566px;
      height: 114px;
      font-size: 16px;
      font-family: Montserrat;
      line-height: 156.687%;
      color: $darkColorBackgroundSite;
    }

    &__button {
      background-color: $orangeColor;
      text-decoration: none;
      font-size: 18px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      color: $whiteColorText;
      border: $goldColorBorder;
      width: 219px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }

    &__button:hover {
      background-color: $whiteColorText;
      color: $orangeColor;
    }

    &__slider {
      margin-top: 34px;
      margin-left: 465px;

      &__scroll {
        margin-top: 26px;
        margin-left: 0;
        margin-bottom: 23px;
      }
    }
  }
}

.benefit {
  background-color: $greyColorBackgroundSite;
  display: flex;
  gap: 72px;

  &__left {
    display: flex;
    flex-direction: column;

    &__title {
      color: $darkColorBackgroundSite;
      font-size: 40px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      margin-top: 182px;
      margin-left: 214px;
    }

    &__textBlock {
      height: 310px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 65px;

      &__text {
        width: 583px;
        font-size: 16px;
        font-family: Montserrat;
        line-height: 156.687%;
        margin-left: 214px;
        color: $darkColorBackgroundSite;
      }
    }

    &__button {
      background-color: $orangeColor;
      text-decoration: none;
      font-size: 18px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 141.688%;
      color: $whiteColorText;
      border: $goldColorBorder;
      width: 219px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      margin-left: 214px;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    &__button:hover {
      background-color: $whiteColorText;
      color: $orangeColor;
    }
  }

  &__right {
    width: 488px;
    height: 329px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 326px;

    &__item {
      width: 244px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 52px;
        margin-top: 20px;

        &__p {
          text-align: center;
          font-size: 18px;
          font-family: Roboto;
          font-weight: 500;
          line-height: 142.188%;
          color: $darkColorBackgroundSite;
        }
      }
    }
  }
}

.blackBlock{
  width: $widthSite;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $darkColorBackgroundSite;

  &__content{
    width: 1053px;
    height: 120px;
    background-color: #ffffff;
  }
}
